<template>
  <main class="q-page flex" style="min-height: 566px;"> <!-- ALl_PoNi delete flex-center in class! -->
    <!-- All_PoNi content -->
    <div class="content">
      <div class="select_block">
        <div class="video_types scroll_choice">
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">летсплеи</a></div>
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">стримы</a></div>
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">монтаж</a></div>
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">нарезка</a></div>
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">прохождения</a></div>
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">обзоры</a></div>
          <div class="wrapper_for_video_types" @click="games = true"><a href="#" class="link_video_type" id="trigger">пародии</a></div>
        </div>
        <div class="game_types scroll_choice hello_logo" id="box2"><img src="../statics/img/streamer.png" alt="Hello!" v-if="!games"></div>
        <div class="game_types scroll_choice" id="box" v-if="games">
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type" @click="streams = true" ><img src="../statics/img/dota2.svg" alt="Dota 2"></a></div>
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type"  @click="streams = true" ><img src="../statics/img/cs_go.svg" alt="CS:GO"></a></div>
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type" @click="streams = true"  ><img src="../statics/img/fortnite.svg" alt="Fortnite"></a></div>
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type"  @click="streams = true" ><img src="../statics/img/apex_legends.svg" alt="APEX legends"></a></div>
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type"  @click="streams = true" ><img src="../statics/img/league_of_legends.svg" alt="League of Legends"></a></div>
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type"  @click="streams = true" ><img src="../statics/img/hearthstone.svg" alt="Hearthstone"></a></div>
          <div class="wrapper_for_video_types"><a href="#" class="link_game_type"  @click="streams = true" ><img src="../statics/img/world_of_warcraft.svg" alt="World of Warcraft"></a></div>
        </div>
      </div>
      <div class="wrapper_stream_popular" id="box1" v-if="streams">
        <div class="stream_popular top_stream_popular">
          <div class="video_stream_popular for_reduction"><a href="#"><img src="../statics/img/stream_popular.svg" alt="Stream"></a><div class="ava_stream_popular"><a href="#" ><img src="../statics/img/ava.png" alt="Avatar"></a></div></div>
        </div>
        <div class="stream_popular mid_stream_popular">
          <div class="video_stream_popular"><a href="#"><img src="../statics/img/stream_popular.svg" alt="Stream"></a><div class="ava_stream_popular"><a href="#" ><img src="../statics/img/ava.png" alt="Avatar"></a></div></div>
        </div>
        <div class="stream_popular bot_stream_popular">
          <div class="video_stream_popular for_reduction"><a href="#"><img src="../statics/img/stream_popular.svg" alt="Stream"></a><div class="ava_stream_popular"><a href="#" ><img src="../statics/img/ava.png" alt="Avatar"></a></div></div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      games: false,
      streams: false
    }
  },
  components: {}
}
</script>
<style>
  .content {
    display: flex;
    align-items: center;
  }
  .select_block {
    display: flex;
    justify-content: space-between;
  }
  .scroll_choice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .video_types {
    margin-right: 120px;
  }
  .link_video_type {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(233, 233, 233, 0.3);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    transition-duration: 0.6s;
  }
  .link_video_type:hover {
    transition-duration: 0.6s;
    font-size: 30px;
    line-height: 34px;
    color: #e9e9e9;
  }
  .link_video_type:focus {
    transition-duration: 0.6s;
    font-size: 30px;
    line-height: 34px;
    color: #e9e9e9;
  }
  .link_game_type {
    margin-bottom: 6px;
  }
  .link_game_type img {
    width: 120px;
    height: 72px;
  }
  .wrapper_for_video_types {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: calc(80vh/7);
    border-left: 3px solid rgba(196, 196, 196, 0.5);
    padding-left: 10px;
    margin-bottom: 6px;
  }
  .wrapper_for_video_types:hover {
    border-color: #9289FF;
  }
  .wrapper_for_video_types:focus {
    border-color: #9289FF;
  }
  .stream_popular {
    display: flex;
  }
  .video_stream_popular {
    position: relative;
  }
  .link_game_type img {
    transition-duration: 0.5s;
  }
  .link_game_type:focus {
    transition-duration: 0.5s;
    transform: scale(1.13);
  }
  .link_game_type img:hover {
    transition-duration: 0.5s;
    opacity: 0.5;
  }
  .ava_stream_popular {
    position: absolute;
    bottom: -25px;
    left: -25px;
    display: flex;
    align-self: flex-end;
    position: absolute;
    width: 59px;
    height: 59px;
  }
  .ava_stream_popular img {
    width: 59px;
    height: 59px;
    border: 10px solid #110F41;
    border-radius: 29.5px;
  }
  .clean_stream_popular {
    min-width: 150px;
  }
  .for_reduction {
    transform: scale(0.8);
  }
  .top_stream_popular {
    position: absolute;
    bottom: 310px;
    z-index: 0;
    opacity: 0.5;
  }
  .mid_stream_popular {
    position: relative;
    z-index: 1;
  }
  .bot_stream_popular {
    position: absolute;
    bottom: 50px;
    z-index: 0;
    opacity: 0.5;
  }
  .hidden {
    display: none;
  }
  .hello_logo {
    align-self: center;
    justify-content: center;
  }
</style>
