<template>
  <q-page>
    <div class="text-white text-h4">Результаты:</div>
    <div class="q-gutter-y-lg q-mt-md">
      <streamElement />
      <videoElement />
      <videoElement />
    </div>
  </q-page>
</template>

<script>
import videoElement from '../components/videoElement'
import streamElement from '../components/streamElement'
export default {
  name: 'results',
  components: { streamElement, videoElement }
}
</script>

<style scoped>

</style>
