<template>
  <q-page>
    <q-card class="row my-card bg-transparent" flat>
      <img src="../statics/pics/preview.svg" class="col-4 no-border-radius">
      <div class="text-h6 text-white col-7 q-ml-xl flex items-center">Больше никто из авторов не проявлял активность</div>
      <q-card-section class="col-9 q-py-lg q-pl-none flex column text-white q-gutter-y-sm">
        <div class="text-h6" style="line-height: 20px">Привет, меня зовут Стефан. </div>
      </q-card-section>
      <img src="../statics/icons/usericon.svg" class="userimg" alt="">
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'subs'
}
</script>

<style scoped>

  .userimg {
    width: 100%;
    max-width: 59px;
    position: absolute;
    bottom: 50px;
    left: -11px;

  }
</style>
