<template>
  <q-page style="min-height: 100%" class="q-pb-xs">
      <q-card class="row my-card bg-transparent" flat>
        <img src="../statics/pics/preview.svg" class="col-5 no-border-radius">
        <q-card-section class="col-7 q-py-none q-pl-lg flex column text-white q-gutter-y-sm">
          <div class="text-h5 "><router-link class="text-white" style="text-decoration: none" to="/viewpage">chevrolet_1mpaa</router-link></div>
          <div class="text-subtitle1" style="line-height: 20px">Привет, меня зовут Стефан. Проживаю в прекрасном городе Харьков, Украина. Мне 20 лет и большую часть времени стримлю свои игры CS:GO. </div>
          <div class="text-subtitle1" style="line-height: 20px">
            Харизма: 4.1/10 - её нет <br>
            Голос: 5/10 - высокий <br>
            Адекватность: 7.4/10 - спокойный <br>
            Оборудование: 6.8/10 - so so <br>
            Общительность: 8.2/10 - болтушка</div>
        </q-card-section>
        <img src="../statics/icons/usericon.svg" class="userimg" alt="">
        <img src="../statics/icons/rn.svg" class="rn q-mt-sm" alt="">
      </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'streamElement'
}
</script>

<style scoped>
  .userimg {
    width: 100%;
    max-width: 59px;
    position: absolute;
    bottom: -13px;
    left: -11px;

  }
.rn {
  width: 100%;
  max-width: 70px;
  position: absolute;
  left: 369px;
}
</style>
