<template>
  <q-page style="min-height: 100%" class="q-pb-xs">
      <q-card class="row my-card bg-transparent" flat>
        <img src="../statics/pics/preview.svg" class="col-5 no-border-radius">
        <q-card-section class="col-7 q-py-none q-pl-lg flex column text-white q-gutter-y-sm">
          <div class="text-h5 "><router-link class="text-white" style="text-decoration: none" to="/viewpage">1MPALA И АРТИСТ ВЫНОСЯТ ФЕЙСИТ ВПЕРЕД НОГАМИ // 1MPALA ИГРАЕТ С AKKRI и ART1ST</router-link></div>
          <div class="text-subtitle1" style="line-height: 20px"> ФРАГМЕНТЫ ВЗЯТЫ: https://www.twitch.tv/1mpala</div>
          <div class="text-subtitle1" style="line-height: 20px">

            Харизма: 8/10 - она есть <br>
            Голос: 5/10 - низкий <br>
            Адекватность: 5/10 - Крейзи <br>
            Оборудование: 9/10 - nice <br>
            Общительность: 8.2/10 - болтушка</div>
        </q-card-section>
        <img src="../statics/icons/usericon.svg" class="userimg" alt="">
      </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'videoElement'
}
</script>

<style scoped>
.userimg {
  width: 100%;
  max-width: 59px;
  position: absolute;
  bottom: -13px;
  left: -11px;

}
</style>
